html, body, #editor {
  margin: 20px;
  height: 100%;
  font-family: '微软雅黑';
  color: #333;
}
#id-source {
  background-color:powderblue;
}
textarea, #editor div {
  display: inline-block;
  width: 48%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #C2D487;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  height: 100%;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}
